<!DOCTYPE html>
<html>
<head><title>Dashboard</title>
<style>
body{font-family:Arial;padding:30px;background:#f0f2f5}
.navbar{background:#2563eb;padding:15px;color:white;display:flex;justify-content:space-between}
.card{background:white;padding:20px;margin:15px;border-radius:10px;box-shadow:0 2px 5px gray}
a{text-decoration:none;color:#2563eb;font-weight:bold}
</style>
</head>
<body>
<div class="navbar">
    <b>Welcome {{ name }}!</b>
    <a href="/logout" style="color:white">Logout</a>
</div>
<h2>Your Dashboard</h2>
<div class="card"><h3><a href="/step3">Step 3 - Companies </a></h3><p>See all companies hosting hackathons</p></div>
<div class="card"><h3><a href="/step4">Step 4 - Find </a></h3><p>Search hackathons by city or company</p></div>
<div class="card"><h3><a href="/step5">Step 5 - Calendar </a></h3><p>View all upcoming hackathon dates</p></div>
</body>
</html>
